.env
/database/json_summaries/*.json
INTEGRATION_GUIDE.md
CODEBASE_DOCUMENTATION.md
llm_gemini.py
react-native-frontend/API_CONFIGURATION.md
#test file
test.py
secrets.toml
fetch_exercises_image.py
/frontend/exercises_gif
  backend/scripts/
  backend/llms/gemini_connector.py
  backend/scripts/run_workflow_gemini.py