streamlit
streamlit_cookies_manager
google-api-python-client
youtube_transcript_api
token_count
openai
streamlit_extras
python-dotenv
streamlit_modal
pymongo
streamlit-nested-layout
google-generativeai==0.3.2
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
python-multipart==0.0.6



